<html>
  <head>
    <meta charset="utf-8">
    <title>Video Streaming Demonstration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script rel="stylesheet" href="/static/css/bootstrap-theme.css"></script>
    <script rel="stylesheet" href="/static/css/bootstrap.css"></script>
    <style>
    body {
    background:url("./static/images/pexels-photo-27476.jpg")no-repeat;
    background-size:100%;

    height: 140px;
    display:block;
    padding:0 !important;
    margin:0;
          }
    .navbar-default {
      background-image: url("./static/images/pexels-photo-27476.jpg");
          }
    </style>
  </head>

  <body background-image="pexels-photo-27476.jpg" background-color="#f4d142">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">MusicE</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
               <!-- /.container-fluid -->
    </nav>

    <br>
    <br>

    <h1 class="text-center">Generated Some Music Recommendation For You!</h1>

    <br>
    <h3 class="text-center">Reading Emotions, Please Wait...</h3>
    <br>
    <div class="container">
    <div class="col-sm-6">
    <div class="row text-center">
      <img id="bg" src="{{ url_for('video_feed') }}" class="img-responsive">
    </div>
    </div>

    <div class="col-sm-6">
      <div class="row text-center">
        <h4 class="text-center">Spotify</h4>
        {% if spotify_id %}
        <iframe src="https://open.spotify.com/embed?uri=spotify:track:{{ spotify_id }}"
        frameborder="0" allowtransparency="true" class="embed-responsive-item" align="center"></iframe>
        {% endif %}
        <h4 class="text-center">YouTube</h4>
        {% if youtube_id %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ youtube_id }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
      </div>
    </div>
    </div>
  </body>
</html>
